.product {
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    background-color: white;
    z-index: 1;
}

.product__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product__rating {
    display: flex;
    color: rgb(150, 124, 255);
}

.product__content>img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product__content>button {
    background: rgb(150, 124, 255);
    border: 1px solid rgb(150, 124, 255);
    margin-top: 10px;
    /* border-color: #a88734 #9c7e31 #846a29; */
    color: #111;
    /* width: 200px; */
    height: 25px;
    border-radius: 8px;
}

.product__price {
    margin-top: 5px;
}

.product__info {
    height: 100px;
    margin-bottom: 15px;
}

.product__user {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.product__profileimage {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;

}